.menu{
    padding:2% 0 1%;
    background-color: white;
    box-shadow: 10px 10px 20px -7px rgba(0,0,0,0.08); 
    width : 100%;
    height : 15%;
    position : fixed;
    top : -25%;
    right:0;
    /* right : -100%; */
    transition: 850ms;
    display : flex;
    opacity: 0;
}

.active {
    /* right: 0%; */
    top:6%;
    transition: 850ms;
    opacity: 0.99999;
}

.side-menu{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.x-icon{
    margin: 4px 1% 4%;
}

.menu-item a:hover{
    background-color: primary-3;
}

.toogler {
    margin-top : -10%;
}