.button-hitung{
    outline: 0 !important;
}

.button-hitung:hover{
    box-shadow: 5px 10px #888888;
}

.sticky-button{
  position: -webkit-sticky;
  position: sticky;
  bottom: 10%;
}

@media only screen and (max-width: 970px) {
    .rootbg {
      background-color:ffff;
    }
  }

  @media only screen and (min-width: 971px) {
    .rootbg {
      background-color: #F5F9FF
    }
  }